<section class="home">
  <div class="area_title">
    <h3>Edit Expense logged on <%= @transfer.op_date %> at <%= @transfer.op_time %></h3>
  </div>

  <div class="category_link">
    <form action='/transfers/<%= @transfer.id%>' method="POST">
      <input type="hidden" id="l_id" name="id" value="<%= @transfer.id %>" />
      <label for="l_amount">Amount:</label>
      <input type="number" step="any" id="l_amount" name="amount" value="<%= @transfer.amount%>"/>
      <input type="hidden" id="l_date" name="op_date" value="<%= @transfer.op_date %>" />
      <input type="hidden" id="l_time" name="op_time" value="<%= @transfer.op_time %>" />
      <input type="hidden" id="l_user" name="user_id" value="<%= @transfer.user_id %>" />

      <label for="category_select">New category </label>
            <select id="category_select" name="category_id">
              <option name="select">
                <% @all_categories.each do |category|%>
                  <% if category.name != @transfer.my_category().name %>
                    <option value=<%= category.id %>><%= category.name %></option>
                  <% end %>
                  <% if category.name == @transfer.my_category().name %>
                  <option value=<%= category.id %> selected><%= category.name %></option>
                  <% end %>
                <% end %>
            </select>

      <input type="submit" value="Save Changes">
    </form>
  </div>
</section>
