<section = class="home">
  <div class="area_title">
    <h3>Updating Category</h3>
  </div>
  <div class="category_link">
    <form action='/categories/<%= @category.id %>' method="POST">
      <label for="l_name">Category Name:</label>
      <input type="hidden" id="l_id" name="id" value="<%= @category.id %>" />
      <input type="text" id="l_name" name="name" value="<%= @category.name %>" />
      <label for="m_category_select">Select a new Master Category </label>
            <select id="m_category_select" name="master_category_id">
              <option name="select">
                <% @all_master_cat.each do |m_category|%>
                  <% if m_category.name != @category.master_category().name %>
                    <option value=<%= m_category.id %>><%= m_category.name %></option>
                  <% end %>
                  <% if m_category.name == @category.master_category().name %>
                  <option value=<%= m_category.id %> selected><%= m_category.name %></option>
                  <% end %>
                <% end %>
            </select>

      <input type="submit" value="Confirm Changes">
    </form>
  </div>
</section>
